<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.kodaxx.spark" version="1.0.1">
	<name>Spark Payments</name>
	<description>An external terminal for processing DASH transactions in brick and mortar stores</description>
	<author href="http://kodaxx.github.io" email="kodaxx@gmail.com">kodaxx</author>
	<content src="index.html" />
	<preference name="DisallowOverscroll" value="true" />
	<preference name="android-minSdkVersion" value="16" />
	<preference name="android-targetSdkVersion" value="26" />
	<preference name="orientation" value="portrait" />
	<preference name="KeyboardShrinksView" value="true" />
	<preference name="android-windowSoftInputMode" value="adjustPan" />
	<preference name="Fullscreen" value="false" />
	<plugin name="cordova-plugin-whitelist" source="npm" spec="~1.2.1" />
	<icon src="icon.png" />
	<platform name="android">
		<icon src="res/icon/android/drawable-ldpi-icon.png" density="ldpi" />
		<icon src="res/icon/android/drawable-mdpi-icon.png" density="mdpi" />
		<icon src="res/icon/android/drawable-hdpi-icon.png" density="hdpi" />
		<icon src="res/icon/android/drawable-xhdpi-icon.png" density="xhdpi" />
		<icon src="res/icon/android/drawable-xxhdpi-icon.png" density="xxhdpi" />
		<icon src="res/icon/android/drawable-xxxhdpi-icon.png" density="xxxhdpi" />
	</platform>
	<platform name="ios">
		<icon src="res/icon/ios/icon-57.png" platform="ios" width="57" height="57" />
		<icon src="res/icon/ios/icon-57-2x.png" platform="ios" width="114" height="114" />
		<icon src="res/icon/ios/icon-72.png" platform="ios" width="72" height="72" />
		<icon src="res/icon/ios/icon-72-2x.png" platform="ios" width="144" height="144" />
	</platform>
	<access origin="*" />
	<allow-intent href="http://*/*" />
	<allow-intent href="https://*/*" />
	<allow-intent href="tel:*" />
	<allow-intent href="sms:*" />
	<allow-intent href="mailto:*" />
	<allow-intent href="geo:*" />
	<allow-intent href="file://" />
	<platform name="android">
		<allow-intent href="market:*" />
	</platform>
	<platform name="ios">
		<allow-intent href="itms:*" />
		<allow-intent href="itms-apps:*" />
	</platform>
</widget>
